@use "../../../../assets/styles/variables.scss" as *;

.product_card {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 10px;
  transition:
    background-color 0.5s,
    border-color 0.5s;
}

.product_card:hover {
  background-color: $grey_light;
  border-color: $grey_light;
  cursor: pointer;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
  transition: transform 0.5s;
}

.product_btn {
  width: 80%;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 7px;
  font: inherit;
  margin: 8px;
  transition:
    background-color 0.5s,
    color 0.5s;
}

.product_btn:hover {
  background-color: $text-hover;
  color: $white_accent;
  cursor: pointer;
}
