@use "../../../../assets/styles/variables.scss" as *;

.search_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  border: 1px solid $darkreader-neutral-background;
  border-radius: 7px;
}

.search {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 7px;
  font: inherit;
  width: 12vw;
  background-color: transparent;
}

.search:focus {
  border: none;
  outline: 0;
}

.button_search {
  border: 1px solid transparent;
  border-radius: 4px;
  font: inherit;
  background-color: transparent;
  transition:
    background-color 0.5s,
    border-color 0.5s;
  display: flex;
  align-items: center;
  padding: 4px;
}

.button_search:hover {
  background-color: $text-hover;
  border-color: $text-hover;
  cursor: pointer;
}

.search_image {
  width: 25px;
}
